<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
    <meta name= "description" content="Score Website">
    <meta name= "Author" content="Peter Gibbons">
    <title>Scores</title>
    <style>
        body {
            background-image: url(../static/img/pixel_city.jpeg);
            font-family: Arial;
        }
        h1 {
            font-size: 40px;
            color: #ffffb1
        }
        li {
            color: #ffffea;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <h1>Top Scores</h1>
    {% block content %}{% endblock %}    
</body>
</html>